"```"
"오피스텔 소유자는 무주택자로 간주합니다."
"유주택자는 주택을 1채 이상 보유 중인 고객이며, 다주택자는 주택을 2채 이상 보유하고 있는 고객입니다."
"우리WON주택대출은 고정금리 또는 혼합금리를 제공하지 않습니다."
"'전세를 끼고 주택을 구매하는 경우'는 고객이 세입자에게 주택을 임차하는 목적으로 주택을 구입하는 경우를 뜻합니다."
"대출신청부터 대출실행까지의 기간은 대출심사에 따라 달라질 수 있습니다. 정확한 대출심사기간은 부동산금융디지털센터(tel: 1599-9700)을 통해 문의 바랍니다."
"n개월 혹은 n년 변동금리는 대출실행일 기준으로 n 기간마다 금리가 재조정됩니다. "
"생애최초 주택구매자는 세대 구성원 모두가 과거제 주택을 소유한 사실이 없는 자를 뜻하며, 구입자금목적의 대출한도는 6억원입니다."
"경매주택의 경우에는 전자등기 처리가 불가하여 우리WON주택대출 취급이 불가합니다."
"```"
