**역할:**
{{ role }}

**업무:**
{{ task_type }}


**응답 데이터 형식:**
```
### description:
### score:
```

**데이터 생성 지침:**
{{ guideline }}

**추가 고려사항:**
{{ consideration }}

**추가 정보:**
{{ advanced }}

**예시:**
{{ few_shot }}

**최종 입력:**